@{
    ViewData["Title"] = "Url Shortener";
}

@using (Html.BeginForm("Index", "Home"))
{
    <input type="text" name="url" />
}

@{
    if (ViewData.TryGetValue("shortened", out var url))
    {
        <div>
            <span>New Url: </span> <a href="@url.ToString()">@url.ToString()</a>
        </div>
    }

    if (ViewData.TryGetValue("error", out var err))
    {
        <div>
            <span>ERROR: @err.ToString()</span>
        </div>
    }
}