@{
    ViewData["Title"] = "Url Shortener";
}
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <form action="/" method="post" class="form-inline">
            <div class="input-group mb-3">
                <input type="text" name="url" class="form-control" placeholder="https://www.google.com">
                <div class="input-group-append">
                    <button type="submit" class="input-group-btn" id="basic-addon2">Shorten!</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-4"></div>
</div>
<div class="row">
    @{
        if (ViewData.TryGetValue("shortened", out var url))
        {
            <div>
                <span>New Url: </span> <a href="@url.ToString()">@url.ToString()</a>
            </div>
        }
        else if (ViewData.TryGetValue("error", out var err))
        {
            <div>
                <span>ERROR: @err.ToString()</span>
            </div>
        }
    }
</div>
