@{
    ViewData["Title"] = "Url Shortener";
}

<div class="grid">
    <div class="head-intro">
        <h1>Need a memorable URL?</h1>
        <h5>Paste a link below to shorten it</h5>
    </div>
    <div class="input-box">
        <form action="/" method="post" class="form-inline">
            <div class="input-group mb-3">
                <input type="text" name="url" class="form-control url-input" placeholder="https://www.google.com">
                <div class="input-group-append">
                    <button id="search-btn" type="submit" class="input-group-btn btn">Shorten!</button>
                </div>
            </div>
        </form>
    </div>
    <div class="result-box">
        @{
            if (TempData.TryGetValue("shortened", out var url))
            {
            <div class="card success-panel">
                <div class="card-body">
                    <h5 class="card-title">You did it!</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Your new human-readable url is below</h6>
                    <a id="short-url" href="@url.ToString()" target="_blank" class="alert-link">@url.ToString()</a>
                    <hr />
                    <button id="copy-button" type="button" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="right" data-trigger="focus click" title="Copied!">Copy</button>
                </div>
            </div>
            }
            else if (TempData.TryGetValue("error", out var err))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @err.ToString()
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }
    </div>
    <div></div>
</div>
