body {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.grid {
    display: grid;
    grid-auto-rows: 50px;
    grid-template-rows: 40px 100px 50px 50px;
    grid-row-gap: 40px;
    grid-template-areas:
        ". . . . ."
        ". h h h ."
        ". i i i ."
        ". r r r ."
}

.head-intro {
    grid-area: h;
    text-align: center;
}

.input-box {
    grid-area: i;
    align-self: center;
    justify-self: center;
}

.result-box {
    grid-area: r;
    align-self: center;
    justify-self: center;
}

.url-panel {
    align-self: center;
    justify-self: center;
}

.navbar-custom a {
    color: #FFFFFF;
}

.url-input {
    width: 35rem !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
